{:aliases {:dev {:extra-paths ["test"]}}
 :deps    {github-tuh8888/mops {:git/url "git@github.com:tuh8888/mops"
                                :sha "373547dbbf296fa0da672f36ec894ca4028afc64"}
           org.clojure/clojure {:mvn/version "1.10.2-rc3"}
           org.clojure/math.combinatorics {:mvn/version "0.1.6"}
           ubergraph/ubergraph {:mvn/version "0.8.1"}}
 :paths   ["src"]}
